/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button.active {
    font-weight: 600;
}
mat-card {
    overflow-wrap: break-word;
    margin-top: 4%;
    margin-bottom: -2%;
    flex: 1 1 calc(33.33% - 20px); /* 3 cards per row */
    padding: 10px !important;
}

.mat-paginator-outer-container {
    background-color: rgb(241, 241, 247);
    color: black;
    border-radius: 30px;
    border: 5px solid #4b4be6;
    .mat-button-wrapper{
        color: white;
    }
}
.mat-paginator-container {
    min-height: 48px !important;
    font-size: 10px;
}

.mat-paginator-range-actions {
    background-color: #5858e6;
    border-radius: 30px;
    color: white;

    .mat-paginator-range-label {
        font-size: larger;
    }
}

.pager {
    display: flex;
    padding-top: 28px;
    justify-content:center;
    position: fixed;
    bottom: 10px;
    width: 100%;
}
